@import "tailwindcss";

:root {
  --background: #02030a;
  --foreground: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #02030a;
    --foreground: #e5e7eb;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

/* Scrollbar bonita */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #02030a;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.25);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}